# 根据不同系统修改获取当前 IPv6 的命令行
auth_token=your_cloudflare_api_token

# 若以下信息更改，需要删除 cloudflare.ids 文件以获取新的 ID
zone_name=your_domain.com
record_name=your_record.your_domain.com
# 记录类型，A 为 IPv4，AAAA 为 IPv6，A,AAAA 为同时更新 IPv4 和 IPv6
record_type="A AAAA"


# 按需要修改
cloudflare_log=cloudflare.log
ipv4_file=ipv4.ini
ipv6_file=ipv6.ini
zone_identifier_file=zone_identifier.ids
record_identifier_v4_file=record_identifier_v4.ids
record_identifier_v6_file=record_identifier_v6.ids

# 邮件信息 使用msmtp 发送邮件，需要先配置好，如无需发送邮件提醒，可设置sender_email=0
sender_email=0
recipient_email=recipient@example.com